.grid {
    display: grid;
    margin-bottom: 6em;
    grid-template-columns: repeat(4, 2fr);

}
.card {
  position: relative;
}
.section {
    color: white;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: 300;
    text-transform: capitalize;
}
.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;
    color: black;
    z-index: 10;
    position: absolute;
    transition: all .2s ease-in-out;
  }
  .arrow:hover {
    scale: 1.2;
  }
  .arrow::after {
    content: "";
    width: 40px;
    position: absolute;
    height: 40px;
    background: transparent;
    border: 1px solid red;
    border-radius: 50%;
    display: block
  }
  .right {  
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .right::after {
    top: -4px;
    left: -5px;
  }
  .left::after {
    top: -4px;
    left: -5px;
  }

  .left {
    position: absolute;
    overflow: visible;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  