.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.964);
    padding: 0 1rem 0 1rem ;
    width: 100%;
    height: 4rem;
}
@media(max-width: 500px) {
    .nav {
        display: none;
    }
    .buttons {
        display: none;
    }
}
@media(min-width: 501px) and (max-width: 1023px) {
    .buttons {
        display: none;
    }
}
@media(min-width: 1024px) {
    .toggler {
        display: none;
    }
}


