.card {
    background: rgb(43, 42, 42);
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    width: 100%;
    height: 50vh;
    padding: 10px;
    transition: all .5s ease-out;
}
@media (min-width: 501px){
    .nav {
        display: none;
    }
    .logo {
        margin-bottom: 5rem;
    }
}
@media(min-width: 1023px) {
    .card {
        display: none;
    }
}
.close {
    transform: translateY(-50vh);
}
.open {
    transform: translateY(0px);
}
.times {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}