.four {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(24, 23, 23);
  animation: color 1s linear .5s infinite normal both running;
  margin: 10rem;

}
.four::before,
.four::after {
  content: "";
  top: 0;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(24, 23, 23);
}

.four::before {
  left: -20px;
  animation: color 1s linear 0s infinite normal both running;


}
.four::after {
  left: 20px;
  animation: color 1s linear 1s infinite normal both running;

}
@keyframes color {
  0% {
      background-color: black;
  }
  50% {
      background-color: red;
  }
  100% {
      background-color: black;
  }
}