.item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;

}
.link {
    color: #ffffff;
    text-decoration: none;
    height: 100%;
    display: block;
}
.link:hover,
.link:active,
.active {
    color: #b4b3b3;
}
/* @media(max-width: 780px) {
    .item {
        display: none;
    }
} */