.section {
    font-size: 62.5%;
    font-weight: 400;
    height: 80vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    z-index: -1;
    margin-bottom: 5rem;
}
.section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(85, 84, 84, 0.685);
}
.flex {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 3em;
    transform: translate(-50%, -50%);
    text-align: center;
}
@media(max-width: 500px) {
    .flex {
        font-size: 2em;
    }
}